:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --fuente: font-family: 'Outfit', sans-serif;
}

/* GLOBALES */
html{
    box-sizing: border-box; /* BOX MODEL */ 
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 16px; /* 1rem = 10px */
    font-family: var(--fuente);
    background-color: var(--light-gray);
}

h1{
    font-size: 2.1rem;
    color: var(--dark-blue);
    font-weight: 700;
}

p{
    font-size: 1.6rem;
    color: var(--grayish-blue);
    font-weight: 400;
}

img{
    max-width: 100%;
    border: none;
    border-radius: 1rem;
}

/* usaremos flex para el contenedor */ 
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media query para dispositivo movil*/
@media (min-width: 375px){
    .tarjeta {
        background-color: var(--white);
        margin: 6rem 8rem;
        padding: 1.5rem;
        border-radius: 2rem;
        text-align: center;
    }
    
    .tarjeta-imagen{
        min-width: 15rem;
        width: 25rem;
        height: 25rem;
    }
    
    .tarjeta-contenido{
        min-height: 10rem;
        width: 25rem;
    }
}

/* media query para dispositivo como computadora de escitorio o pantallas*/
@media (min-width: 1440px){
    .tarjeta {
        background-color: var(--white);
        margin: 6rem 8rem;
        padding: 1.5rem;
        border-radius: 2rem;
        text-align: center;
    }
    
    .tarjeta-imagen{
        min-width: 15rem;
        width: 25rem;
        height: 25rem;
    }
    
    .tarjeta-contenido{
        min-height: 10rem;
        width: 25rem;
    }
}

/* codigo por: */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}